* {
    margin: 0 auto;
    scrollbar-width: none;
}

body {
    background: black;
    color: #c9b56e;
}

a {
    text-decoration: none;
    color: #c9b56e;
}


.video-title {
    overflow: hidden;
    font-size: 34px;
    text-align: center;
    height: 10vh;
    padding-top: 2rem;
}

.video-title span {
    display: inline-block;
    vertical-align: middle;
}

.video-title:before, .video-title:after {
    content:'';
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    height: 2px;
    background-color: #c9b56e;
    position: relative;
}

.video-title:before {
    margin-left: -100%;
    left: -2px;
}

.video-title:after {
    margin-right: -100%;
    left: 2px;
}

.video-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(230, 221, 167);   
}

.video {
    position: relative;
}

video {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-self: flex-start;
}

.navigation-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3rem;
}

#big-play-btn {
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.play-and-pause {
    position: relative;
    cursor: pointer;
}

#play, #pause {
    position: absolute;
    top: 50%; transform: translateY(-50%);
    
}

#pause, #mute {
    display: none;
}

.video-progress-container {
    width: 50%;
}

#video-progress-bar {
    width: 100%;
    height: 8px;
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: #c2c0b9;
}

#video-progress-bar::-webkit-slider-thumb {
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
}



.mic-and-mute {
    position: relative;
    cursor: pointer;
}

#mic, #mute {
    position: absolute;
    top: 50%; transform: translateY(-50%);
}

.volume-container {
    width: 25%
}

#volume-progress-bar {
    appearance: none;
    background-color: #c2c0b9;
    width: 100%;
    height: 8px;
    outline: none;
    cursor: pointer;
}

#volume-progress-bar::-webkit-slider-thumb {
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}


footer {
    width: 70%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 2rem; 
    font-size: 20px;
}

.copyrights {
    display: flex;
    gap: 1rem;
}

#rs-school-logo {
    margin-left: auto;
}
