* {
    margin: 0;
}

body {
    background-color: rgb(218, 231, 200);
}

.start-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    padding: 10px;
    display: none;
    z-index: 2;
}

.start-message form {
    width: 100%;
    height: fit-content;
    background-color: transparent; 
    padding: 7px;
    border-radius: 14px;
    margin-top: 10px; 
}

#start-message-button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(255, 225, 0);
    border-radius: 14px;
    font-size: 14px;
    cursor: pointer;
}

#start-message-button:hover {
    background-color: rgb(199, 196, 0);
    font-weight: bold;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(2, 7, 52, 0.719);
    display: none;
}

.who-starts-message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 25rem;
    height: 10rem;
    text-align: center;
    padding: 10px;
    display: none;
}

.who-starts-message div {
    font-size: 20px;
    font-weight: 600;
}

.who-starts-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
}

#who-starts-player-1-button, #who-starts-player-2-button {
    width: 7rem;
    background-color: transparent;
    border: none;
}

#who-starts-player-1-button:hover, #who-starts-player-2-button:hover {
    background-color: rgb(255, 225, 0);
    border-radius: 14px;
}

#who-starts-player-1-button img, #who-starts-player-2-button img{
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    background-color: rgba(240, 255, 255, 0.529);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#title {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}


#game-table {
    width: 20rem;
    height: 20rem;
    background-color: rgb(210, 232, 84);
    border-collapse: separate;
    border-spacing: 5px;
}

#game-table th {
    padding: 10px;
    border: 2px solid #19160cc3;
    width: 3rem;
    height: 3rem;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#game-table th:hover {
    background-color: rgba(80, 88, 35, 0.537);
}

#game-table th img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#score-table {
    background-color: azure;
    text-align: center;
    width: 10rem;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;;
}

#score-table th {
    width: 3rem;
    height: 3rem;
    padding: 10px;
    text-align:center;
    vertical-align: middle;
}

#score-table th img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin: 5px;
}

#score-table td {
    padding: 3px;
}

.left-column {
    border-right: 2px solid #19160cc3;
}

.croissant {
    background-image: url(assets/img/croissant.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bagel {
    background-image: url(assets/img/zero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.win-message {
    position: absolute;
    background-color: white;
    font-size: large;
    padding: 2rem 7rem;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-new-game {
    position: absolute;
    background-color: white;
    font-size: large;
    padding: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    border: none;
    border-radius: 14px;
}

#start-new-game:hover {
    background-color: rgb(151, 151, 54);
}